* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightyellow;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 150px;
  width: 150px;
  background-color: aliceblue;
}
h2 { color:red; }
      h1 {color: blue;}
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        border: 3px solid green; 
      }
